@use 'vars';

  .header {
    padding: 2em 1em 0em;
    color: vars.$header-title-color;
    text-align: center;

    background-image: url(https://images.alphacoders.com/596/596630.jpg);
    background-position: 20%;
    overflow: hidden;
  }
  
  .header__title {
    font-size: 3em;
    font-weight: 500;
  }

  .header__title__strong {
    color: vars.$header-strong-color;
  }

  .header__subtitle {
    margin: 1em;
    font-style: italic;
    color: vars.$header-subtitle-color; 
  }