@use 'vars';

  .header {
    padding: 2em 1em 0em;
    color: vars.$header-title-color;
    text-align: center;

    background-image: url(https://images7.alphacoders.com/703/703704.jpg);
    background-position: 63% 20%;
    overflow: hidden;

    background-size: auto;
  }
  
  .header__title {
    font-size: 3em;
    font-weight: 500;
    padding: 1em;
    text-align: center;
  }

  .header__title__strong {
    color: vars.$header-strong-color;
  }

  .header__subtitle {
    margin: 1em;
    font-style: italic;
    color: vars.$header-subtitle-color; 
    text-align: center;
  }