@use 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-color: vars.$background-color;
}

.main {
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
}

section {
  padding: 1em;
}