@use'vars';

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: vars.$popup-title-background-color;

    overflow-y: scroll;
}

.popup__content {
    display: block;
    width: 100%;
    max-width: 70em;
    margin: 1em auto;
    padding: 3em;
    color: vars.$popup-content-text;
    justify-content: center;
    background: vars.$background-color;
    border-radius: 0.5em;
}

.popup__content__title {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: vars.$popup-content-text;
    margin: 0em 10em 2em;
}

.popup__content__title__span {
    font-weight: 300;
    color: vars.$popup-content-type;
}



.popup__content__synopsis {
    display: flex;
    flex-wrap: wrap;
    margin: 0em 2em 2em;
    color:vars.$popup-content-text;
}

.popup__content__synopsis__img {
    max-width: 30em;
    padding: 0em 1em;
}

.popup__content__synopsis__text {
    padding: 1em;
}

.popup__button--close {
    margin-left: 2em;
    padding: 1em;
    font-size: 18px;
    font-weight: 700;

    background: vars.$popup-button-background-color;
    color: vars.$popup-button-color;
    border-radius: 1em;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;

    transition: 0.4s ease-out;

    position: relative;
    float: right;
}

.popup__button--close:hover {
    background: vars.$background-color;
}


.trailer {
    width: 100%;
    color: vars.$popup-content-text;
}
