@use 'vars';

.results  {
    display: flex;
    flex-wrap: wrap;
    margin: 0em -1em;
}

.results .result {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    min-width: 1em;
    padding: 1em;
    cursor: pointer;
}

.results .result__img {
    display: block;
    width: 100%;
}

.results .result__title {
    color: vars.$result-title-color;
    font-size: vars.$result-title-font-size;
    font-weight: 600;
    padding: 1em;
    background: vars.$result-title-background-color;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}

.results .result__title:hover {
    background: vars.$result-title-font-background-hover;
    color: vars.$result-title-font-color-hover;
}

.result:hover {
    transition: 0.4s ease-out;
    border-radius: 1em;
    border: 0.5em dashed  vars.$result-border-color;
    background: vars.$result-background-behind;
}